asn1crypto
attrs
Automat
autopep8
beautifulsoup4
bs4
certifi
cffi
chardet
colorclass
constantly
cryptography
cssselect
docopt
html5lib
hyperlink
idna
incremental
lxml
packaging
parsel
pip-upgrader
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDispatcher
PyHamcrest
pyOpenSSL
pyparsing
queuelib
requests
rope
Scrapy
service-identity
six
soupsieve
terminaltables
Twisted
urllib3
w3lib
webencodings
zope.interface
